*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1rem;
}

:root {
	--color-light: #ffffff;
	--color-gray: #d3d3d3;
	--color-dark: #353535;
	--color-accent: #05a8aa;
	--color-accent-dark: #264675;
	--color-error: #db5461;
	--color-success: #54db68;

	--nav-height: clamp(4rem, 9vw, 4.5rem);
	--nav-icon-size: clamp(1.4rem, 4vw, 1.8rem);

	--cover-speed: .7s;
	--cover-search-height: 4rem;
	--login-create-switch: .5s;
}

/* Default properties */
img {
	width: 100%;
}

button,
input,
textarea {
	border: 0;
	margin: 0;
}

button:hover {
	cursor: pointer;
}

/* Utility classes */
.hidden {
	display: none !important;
}

.error {
	color: var(--color-error) !important;
}

.error-input {
	border-color: var(--color-error) !important;
}

.success {
	color: var(--color-success) !important;
}

/* Default styling */
body {
	overflow-y: hidden;
}

#cover {
	position: absolute;
	z-index: 1;

	width: 100%;

	background-color: var(--color-accent);
	color: var(--color-light);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	
	transition: transform var(--cover-speed) ease-in-out;
	transform: translateY(-100vh);
}

#cover.show-window {
	transform: translateY(0vh);
}

#cover.show-search-window {
	transform: translateY(calc(-100vh + var(--cover-search-height)));
}

.windows {
	min-height: 100vh;

	display: flex;
	flex-direction: column-reverse;	
}

.cover-entry {
	padding: 1rem;
}

#loading-title {
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#loading-title > *,
.no-javascript > * {
	font-size: 2.5rem;
}

.no-javascript {
	text-align: center;
}
