*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-light: white;
	--color-dark: rgb(53, 53, 53);
	--color-accent: rgb(5, 168, 170);
	--color-accent-dark: rgb(18, 36, 63);
	--color-error: rgb(219, 84, 97);
	--color-success: rgb(84, 219, 104);

	--nav-height: clamp(4rem, 9vw, 5rem);
	
	--cover-speed: .7s;
	--cover-search-height: 7vh;
	--login-create-switch: .5s;
}

/* Default properties */
img {
	width: 100%;
}

button:hover {
	cursor: pointer;
}

/* Utility classes */
.hidden {
	display: none !important;
}

.error {
	color: var(--color-error) !important;
	font-size: 1rem !important;
}

.success {
	color: var(--color-success) !important;
	font-size: 1rem !important;
}

/* Default styling */
body {
	overflow-y: hidden;
}

#cover {
	position: absolute;
	z-index: 1;

	width: 100%;

	background-color: var(--color-accent);
	color: var(--color-light);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	
	transition: transform var(--cover-speed) ease-in-out;
	transform: translateY(-100vh);
}

#cover.show-window {
	transform: translateY(0vh);
}

#cover.show-search-window {
	transform: translateY(calc(-100vh + var(--cover-search-height)));
}

.windows {
	min-height: 100vh;

	display: flex;
	flex-direction: column-reverse;	
}

.cover-entry {
	padding: 1rem;
}

#loading-title {
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#loading-title > *,
.no-javascript > * {
	font-size: 2.5rem;
}

.no-javascript {
	text-align: center;
}
