body {
	background-image: url(/static/img/background.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.title-container {
	height: 75vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	color: var(--color-light);

	font-size: clamp(3rem, 12vw, 5rem);
}

.background-overlay {
	height: 100vh;
}

#window {
	position: absolute;
	bottom: -100%;

	width: 100%;

	padding: min(1rem, 3%);
	background-color: transparent;

	transition: bottom .4s ease-in-out;
}

#window.show-window {
	bottom: 0;
}

.container {
	margin: auto;
	width: min(100%, 45rem);
	min-height: 10rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	overflow: auto;
	
	padding: clamp(1rem, 7vw, 1.5rem);
	border-radius: 4px;
	background-color: var(--color-light);
	box-shadow: 0px 0px 8px 0 rgb(0 0 0 / 20%),
				0px 0px 20px 0 rgb(0 0 0 / 19%);
}

.container > form {
	width: 100%;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;

	text-align: center;
}

.container p {
	flex-grow: 1;
	width: min(100%, 20rem);
	margin-bottom: -.75rem;
	
	text-align: left;
	font-size: .9rem;
}

.container button,
.container input {
	padding: .5rem;
	outline: 0;
	border: 2px solid var(--color-gray);
	border-radius: 4px;

	font-size: 1.1rem;
	
	transition: border-color .2s ease-in-out;
}

.container input {
	flex-grow: 1;
	width: min(100%, 20rem);
	
	color: var(--color-dark);
}

.container input::placeholder {
	opacity: .9;
	
	font-size: .8rem;
	
	transition: opacity .2s linear;
}

.container input:focus::placeholder {
	opacity: 0;
}

.options {
	flex-grow: 1;
	width: min(100%, 24rem);
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: .2rem;
}

.options > button {
	width: max(10rem, calc(50% - .1rem));
}

.options > button:hover {
	border-color: var(--color-accent);
}
