body {
	height: 100vh;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-image: url(/static/img/background.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	text-align: center;
}

h1, p {
	color: white;
}

h1 {
	font-size: 15vw;
}

p {
	font-size: 6vw;
}