body {
	display: flex;
	flex-direction: column;
}

header {
	width: 100%;
	height: fit-content;
	overflow-x: auto;
	overflow-y: hidden;
	
	padding: 1rem;
	
	background-color: var(--accent-color);
	color: var(--light-color);
}

.menu-title-container {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.toggle-nav {
	display: none;
	background-color: transparent;
}

.toggle-nav:hover,
.toggle-nav:focus {
	cursor: pointer;
}

.menu-title-container > p {
	font-size: 2rem;
}

.search-icon {
	width: 2rem;
	aspect-ratio: 1/1;
}

.nav-main {
	height: 100%;
	overflow-x: auto;
	display: flex;
}

nav {
	width: var(--nav-width);
	height: 100%;

	display: flex;
	flex-direction: column;
	
	background-color: var(--dark-color);
	color: var(--light-color);
	flex: 0 0 auto;
}

.nav-entry,
.sub-nav-entry {
	padding: 1rem;

	color: var(--light-color);
	text-decoration: none;
	font-size: 1.3rem;
	
	transition: background-color 150ms ease-in-out;
}

.nav-entry:hover,
.sub-nav-entry:hover {
	background-color: darkgray;
}

.sub-nav-entry {
	padding-left: 2.5rem;
	font-size: 1rem;
}

.current-nav {
	background-color: gray;
}

main {
	padding: 1rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

main > h2 {
	font-size: 2rem;
	border-bottom: 2px solid lightgray;
}

main > h2:not(:first-child) {
	margin-top: 1.5rem;
}

.reset-form {
	width: fit-content;
	display: flex;
	flex-direction: column;
	gap: .8rem;
	font-size: 1.2rem;
}

.reset-form > div {
	display: flex;
	gap: 1rem;
}

.reset-form > div > label {
	width: 10rem;
}

.reset-form > div > input {
	border-bottom: 2px solid var(--dark-color);
}

.button {
	color: var(--dark-color);
	background-color: transparent;
	border: 3px solid var(--dark-color);
	
	padding: .5rem 1rem;
	border-radius: 2px;
	
	font-size: clamp(1rem, 4.5vw, 1.3rem);
	text-decoration: none;
	width: fit-content;
}

.button:hover {
	cursor: pointer;
}

.delete_account {
	color: var(--error-color);
	border: 3px solid var(--error-color);
}

@media (max-width: 720px) {
	nav {
		position: absolute;
		left: calc(var(--nav-width) * -1);
	}
	
	.show-nav {
		left: 0;
		position: initial;
	}
	
	.toggle-nav {
		display: block;
	}
	
	header {
		flex-direction: column;
		gap: .7rem;
	}
	.menu-title-container {
		justify-content: center;
	}
}

@media (max-width: 385px) {
	.show-nav {
		position: absolute;
	}
	.reset-form {
		width: 100%;
	}
	.reset-form > div {
		flex-direction: column;
		width: 90%;
	}
}