body {
	display: flex;
	flex-direction: column;
}

header {
	width: 100%;
	height: fit-content;
	overflow-x: auto;
	overflow-y: hidden;
	
	display: flex;
	align-content: center;
	justify-content: space-between;
	padding: 1rem;
	
	background-color: var(--accent-color);
	color: var(--light-color);
}

.menu-title-container {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.toggle-nav,
#search-toggle {
	display: none;
	background-color: transparent;
}

.toggle-nav:hover,
.toggle-nav:focus {
	cursor: pointer;
}

.menu-title-container > p {
	font-size: 2rem;
}

.search-bar {
	display: flex;
	gap: .5rem;
	justify-content: center;
	align-items: center;
}

.search-button {
	border: 0;
	background-color: transparent;
	padding: 0;
}

.search-button:hover,
.search-button:focus {
	cursor: pointer;
}

.search-icon {
	width: 2rem;
	aspect-ratio: 1/1;
}

.search-input {
	height: 2rem;

	background-color: transparent;
	color: var(--light-color);

	border-bottom: 2px solid var(--light-color);

	font-size: 1.4rem;
}

.search-input:focus {
	outline: 2px solid var(--light-color);
	border: 0px;
	border-radius: 2px;
}

.search-input::placeholder {
	color: var(--light-color);
	font-size: 1.2rem;
	opacity: .7;
}

.nav-main {
	height: 100%;
	overflow-x: auto;
	display: flex;
}

nav {
	width: var(--nav-width);
	height: 100%;

	display: flex;
	flex-direction: column;
	
	background-color: var(--dark-color);
	color: var(--light-color);
	flex: 0 0 auto;
}

.nav-entry,
.sub-nav-entry {
	padding: 1rem;

	color: var(--light-color);
	text-decoration: none;
	font-size: 1.3rem;
	
	transition: background-color 150ms ease-in-out;
}

.nav-entry:hover,
.sub-nav-entry:hover {
	background-color: darkgray;
}

.sub-nav-entry {
	padding-left: 2.5rem;
	font-size: 1rem;
}

#logout-button {
	border: 0;
    text-align: left;
    background: transparent;
    font-size: 1.2rem;
}

#logout-button:hover {
	background-color: darkgray;
	cursor: pointer;
}

.current-nav {
	background-color: gray;
}

main {
	padding: 1rem;
	height: fit-content;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
}

.vault-entry {
	height: fit-content;
	width: 15rem;
	overflow-wrap: anywhere;
	padding: 1rem;
	
	background-color: var(--dark-color);
	color: var(--light-color);
	text-decoration: none;

	font-size: 1.3rem;
	
	border-radius: 3px;
	transition: background-color 150ms ease-in-out;
}

.vault-entry:hover,
.vault-entry:focus {
	background-color: gray;
}

.no-result-error {
	padding: 1rem;
	font-size: 4rem;
	width: 100%;
	color: lightgray;
	text-align: center;
}

@media (max-width: 720px) {
	nav {
		position: absolute;
		left: calc(var(--nav-width) * -1);
	}
	
	.show-nav {
		left: 0;
		position: initial;
	}
	
	.toggle-nav {
		display: block;
	}
	
	.search-bar {
		display: none;
	}
	
	.show-search {
		display: flex;
	}
	
	#search-toggle {
		display: block;
	}

	header {
		flex-direction: column;
		gap: .7rem;
	}
	.menu-title-container {
		justify-content: center;
	}
	
	main {
		justify-content: center;
	}
	
	.vault-entry {
		flex-grow: 1;
		max-width: 20rem;
	}
}

@media (max-width: 527px) {
	.vault-entry {
		max-width: none;
	}
}

@media (max-width: 385px) {
	.show-nav {
		position: absolute;
	}
}