.error,
.success {
	font-size: 2rem !important;
}

body {
	background-color: var(--color-light);
}

nav {
	height: var(--nav-height);

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 1rem;
}

.left-nav,
.right-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.2rem;
}

.left-nav > *,
.right-nav > * {
	max-height: 2rem;

	flex-grow: 0;
}

.left-nav > button,
.right-nav > button {
	height: clamp(1.4rem, 4vw, 2rem);
	aspect-ratio: 1/1;

	border: 0;
	padding: 0;
	background-color: transparent;
}

#search-button {
	display: flex;
	gap: 1.2rem;
}

#search-button > img {
	width: 100%;
}

#username-title {
	font-size: 1.8rem;
	font-weight: 500;
}

#cover-placeholder {
	width: 100%;
	height: var(--nav-height);
}

main {
	height: calc(100vh - var(--nav-height));

	padding: 1rem;
}

#no-password-message {
	padding: 2rem;
	color: var(--color-dark);

	text-align: center;
	font-size: 2rem;
}

#vault {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
	flex-wrap: wrap;
	overflow: auto;
	
	color: var(--color-light);
}

.vault-entry {
	width: 15rem;
	max-width: 18rem;

	padding: 1.2rem;
	border-radius: 5px;
	background-color: var(--color-dark);
	color: var(--color-light);

	font-size: clamp(.8rem, 3.5vw, 1.1rem);
	text-decoration: none;
}

.cover-entry {
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.cover-entry > * {
	font-size: clamp(2rem, 8vw, 5rem);
	text-align: center;
}

.form {
	width: min(38rem, 85%);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
}

.form > * {
	width: 90%;
}

.form > *,
.form > div > * {
	font-size: clamp(1rem, 5vw, 2rem);
}

.form > input,
.form > div > input {
	padding: .5rem;
	border: 0;
	border-radius: 5px;
	background-color: var(--color-dark);
	color: var(--color-light);
}

.form > input::placeholder,
.form > div > input::placeholder {
	opacity: .8;

	color: var(--color-light);
}

.password-combo {
	display: flex;
	justify-content: center;
}

.password-combo > input {
	width: 92%;

	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.show-password {
	width: clamp(2rem, 8vw, 3rem);
	height: 100%;

	padding: .4rem;
	border: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: var(--color-dark);
}

.show-password > img {
	height: 100%;

	aspect-ratio: 1/1;
}

.actions {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: .25rem;
	flex-wrap: wrap;
}

.actions > button,
#search-form > button,
#search-form > select {
	min-width: clamp(5rem, 15vw, 8rem);

	padding: .5rem;
	border: 0;
	border-radius: 5px;
	background-color: var(--color-dark);
	color: var(--color-light);

	transition: background-color .35s ease-in-out;
}

#cancel-button:hover,
#view-cancel-button:hover,
#settings-cancel-button:hover,
#delete-button:hover,
#delete-account-button:hover {
	background-color: var(--color-error);
}

#check-button:hover {
	background-color: var(--color-accent-dark);
}

.actions > button[type="submit"]:hover {
	background-color: var(--color-success);
}

#search-window {
	height: var(--cover-search-height);

	align-items: flex-start;

	padding-bottom: .75rem;
}

#search-form {
	width: 100%;

	flex-direction: row;
	justify-content: flex-start;
	gap: .5rem;
}

#search-form > * {
	width: unset;

	font-size: clamp(1rem, 2.5vw, 1.5rem);
}

@media (max-width: 782px) {
	#vault {
		justify-content: center;
	}
	.vault-entry {
		flex-grow: 1;
		flex-shrink: 1;
	}
}

@media (max-width: 705px) {
	:root {
		--cover-search-height: 12vh;
	}
}

@media (max-width: 380px) {
	#username-title {
		display: none;
	}
}

@media (max-width: 330px) {
	:root {
		--cover-search-height: 15vh;
	}
}