body {
	background-color: var(--color-light);
}

nav {
	height: var(--nav-height);

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 1rem;
}

.left-nav,
.right-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.2rem;
}

.left-nav > *,
.right-nav > * {
	max-height: 2rem;

	flex-grow: 0;
}

.left-nav > button,
.right-nav > button {
	height: var(--nav-icon-size);
	aspect-ratio: 1/1;

	border: 0;
	padding: 0;
	background-color: transparent;
}

#search-button {
	display: flex;
	gap: 1.2rem;
}

#search-button > img {
	width: 100%;
}

#username-title {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1;
}

#cover-placeholder {
	width: 100%;
	height: var(--nav-height);
}

main {
	height: calc(100vh - var(--nav-height));

	padding: 1rem;
}

#no-password-message {
	padding: 2rem;
	color: var(--color-dark);

	text-align: center;
	font-size: 2rem;
}

#vault {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: clamp(.5rem, 2vw, 1rem);
	flex-wrap: wrap;
	overflow: auto;
	
	color: var(--color-light);
}

.vault-entry {
	width: 15rem;
	max-width: 18rem;

	padding: 1.2rem;
	border-radius: 5px;
	background-color: var(--color-dark);
	color: var(--color-light);

	text-decoration: none;
}

.vault-entry > h2 {
	font-size: clamp(1rem, 3vw, 1.3rem);
	overflow-x: hidden;
}

.vault-entry > p {
	font-size: clamp(.8rem, 2.7vw, 1rem);
	overflow-x: hidden;
}

.cover-entry {
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.cover-entry > * {
	font-size: clamp(2rem, 7vw, 4rem);
	text-align: center;
}

.form {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: .75rem;
}

.form > * {
	width: clamp(22rem, 55%, 30rem);
	max-width: 100%;
}

.form > *,
.form > div > * {
	font-size: 1.1rem;
}

.form > input,
.form > div > input {
	padding: .75rem;
	outline: 0;
	border: 2px solid var(--color-gray);
	border-radius: 5px;
	background-color: var(--color-accent);
	color: var(--color-light);
}

.form > input::placeholder,
.form > div > input::placeholder {
	opacity: .8;

	color: var(--color-light);
	
	transition: opacity .2s linear;
}

.form > input:focus::placeholder,
.form > div > input:focus::placeholder {
	opacity: 0;
}

.password-combo {
	display: flex;
	justify-content: center;
	border: 2px solid var(--color-gray);
	border-radius: 5px;
}

div.password-combo > input {
	width: 92%;

	border: 0;
}

.show-password {
	width: clamp(2rem, 8vw, 3rem);
	height: 100%;
	margin-right: .2rem;

	padding: .4rem;
	border: 0;
	background-color: transparent;
}

.show-password > img {
	height: 100%;

	aspect-ratio: 1/1;
}

.actions {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: .25rem;
	flex-wrap: wrap;
}

#view-window .actions,
#settings-form .actions {
	width: clamp(22rem, 85%, 40rem);
}

.actions > button {
	min-width: clamp(6rem, 15vw, 8rem);

	padding: .5rem;
	border: 1px solid transparent;
	border-radius: 5px;
	background-color: var(--color-light);
	color: var(--color-dark);

	transition: color .2s ease-in-out,
				border-color .2s ease-in-out;
}

#cancel-button:hover,
#view-cancel-button:hover,
#settings-cancel-button:hover,
#delete-button:hover,
#delete-account-button:hover {
	color: var(--color-error);
	border-color: var(--color-error);
}

#check-button:hover {
	color: var(--color-accent-dark);
	border-color: var(--color-accent-dark);
}

#check-message {
	font-size: 1.3rem;
	margin-bottom: -1rem;
}

.actions > button[type="submit"]:hover {
	color: var(--color-success);
	border-color: var(--color-success);
}

#delete-account-button {
	border: 0;
	background-color: var(--color-error);
	color: var(--color-light);
}

#delete-account-button:hover {
	color: var(--color-light);
}

#search-window {
	height: var(--cover-search-height);

	align-items: flex-start;

	padding-bottom: .75rem;
}

#search-form {
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: .5rem;
	flex-wrap: wrap;
}

#search-form * {
	font-size: clamp(.9rem, 3vw, 1.1rem);
}

.search-bar {
	display: flex;
	
	border-radius: 5px;
	border: 2px solid var(--color-light);
	
	font-size: 1.2rem;
}

.search-bar > * {
	padding: .5rem;
	background-color: transparent;
	color: var(--color-light);
}

.search-bar > button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-bar > button > img {
	width: 1.2rem;
	aspect-ratio: 1/1;
}

.search-bar > input {
	width: 100%;
	flex-grow: 1;

	outline: 0;
}

.search-bar > input::placeholder {
	opacity: .9;

	color: var(--color-light);
	
	transition: opacity .2s ease-in-out;
}

.search-bar > input:focus::placeholder {
	opacity: 0;
}

#search-form > select {
	height: 100%;
	
	border-radius: 5px;
	border: 2px solid var(--color-light);
	background-color: transparent;
	color: var(--color-light);
}

@media (max-width: 782px) {
	#vault {
		justify-content: center;
	}
	.vault-entry {
		flex-grow: 1;
		flex-shrink: 1;
	}
}

@media (max-width: 523px) {
	.vault-entry {
		width: 12rem;
	}
}

@media (max-width: 460px) {
	:root {
		--cover-search-height: 7.5rem;
	}
	#search-form {
		justify-content: center;
	}
	.search-bar {
		width: 100%;
	}
	#search-form > select {
		height: 2.5rem;
	}
}

@media (max-width: 380px) {
	#username-title {
		display: none;
	}
	#view-window .actions > button,
	#settings-form .actions > button {
		width: calc(50% - .25rem);
	}
}
