<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="/static/css/general.css">
	<link rel="stylesheet" href="/static/css/add_password.css">
	<script src="/static/js/auth_checker.js" defer></script>
	
	<title>Add password | Onepass</title>
</head>
<body>
	<main>
		<div class="title-text">
			<h1>Onepass</h1>
			<p>Add a password</p>
		</div>
		<form id="login-form" method="post">
			<input type="hidden" id="apikey-input" name="api_key" value="">
			<div class="form-entry">
				<label for="title-input">Title</label>
				<input type="text" name="title" id="title-input" required>
			</div>
			<div class="form-entry">
				<label for="url-input">URL</label>
				<input type="text" name="url" id="url-input">
			</div>
			<div class="form-entry">
				<label for="username-input">Username</label>
				<input type="text" name="username" id="username-input">
			</div>
			<div class="form-entry">
				<label for="password-input">Password</label>
				<input type="password" name="password" id="password-input">
			</div>
		</form>
		<div class="buttons">
			<a href="/vault">Cancel</a>
			<input class="login-submit" type="submit" value="Create password" form="login-form">
		</div>
	</main>
</body>
</html>