<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="/static/css/general.css">
	<link rel="stylesheet" href="/static/css/check_password.css">
	<script src="/static/js/auth_checker.js"></script>
	<script src="/static/js/check_password.js" defer></script>

	<title>Check password - Onepass</title>
</head>
<body>
	<main>
		<div class="title-text">
			<h1>Onepass</h1>
			<p>Check if a password is too common or if it has been leaked</p>
		</div>
		<form id="login-form">
			<div class="form-entry">
				<label for="password-input">Password</label>
				<p id="password-error" class="error-message hidden"></p>
				<p id="password-success" class="success-message hidden">No problems found!</p>
				<input type="password" name="password" id="password-input">
			</div>
		</form>
		<div class="buttons">
			<a href="/vault">Exit</a>
			<input class="login-submit" type="submit" value="Check password" form="login-form">
		</div>
	</main>
</body>
</html>