<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="/static/css/general.css">
	<link rel="stylesheet" href="/static/css/view_password.css">
	<script src="/static/js/view_password.js" defer></script>

	<title>View password - Onepass</title>
</head>
<body>
	<main>
		<div class="title-text">
			<h1>Onepass</h1>
			<p>View a password</p>
		</div>
		<form id="edit-form">
			<div class="form-entry">
				<label for="title-input">Title</label>
				<input type="text" name="title" id="title-input" required>
			</div>
			<div class="form-entry">
				<label for="url-input">URL</label>
				<input type="text" name="url" id="url-input">
			</div>
			<div class="form-entry">
				<label for="username-input">Username</label>
				<input type="text" name="username" id="username-input">
			</div>
			<div class="form-entry">
				<label for="password-input">
					Password
					<button type="button" class="show-password-button" aria-label="Show password" id="show-password-button"><img src="/static/img/show_password.svg" alt="Show password icon" id="show-password-icon"></button>
				</label>
				<input type="password" name="password" id="password-input">
			</div>
		</form>
		<div class="buttons">
			<a href="/vault">Exit</a>
			<button id="delete-button">Delete</button>
			<input type="submit" value="Save edits" form="edit-form">
		</div>
	</main>
</body>
</html>